
/* THIS SHEET OF STYLE WAS MADE BY
// n: Benjamin Rosati
// e: ben.rosati@live.com
// w: http://benrosati.com
// b: copyright 2016

/* -----------------------------------------------------------------------------*/
/* /// RESET                                                                    */
/* -----------------------------------------------------------------------------*/

*:before,
*:after { 
  content: none;
  box-sizing: inherit; }

* {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  text-decoration: none;
  text-transform: none;
  list-style: none;
  quotes: none;
  background: transparent;
  position: relative;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: inherit; }

main,
menu,
article,
aside,
footer,
header,
nav,
section {
  display: block; }

audio,
video {
  display: inline-block; }

html {
  width: 100%;
  font-size: 100%;
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  box-sizing: border-box; }

body {
  color: #333;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  line-height: 1.5;
  background: #f5f5f5;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

svg:not(:root) {
  vertical-align: middle;
  overflow: hidden; }

/* -----------------------------------------------------------------------------*/
/* /// GRID (ZURB 6)                                                            */
/* -----------------------------------------------------------------------------*/

.small-pull-1,.small-pull-10,.small-pull-11,.small-pull-2,.small-pull-3,.small-pull-4,.small-pull-5,.small-pull-6,.small-pull-7,.small-pull-8,.small-pull-9,.small-push-1,.small-push-10,.small-push-11,.small-push-2,.small-push-3,.small-push-4,.small-push-5,.small-push-7,.small-push-8,.small-push-9{position:relative}.row{max-width:62.5rem;margin-right:auto;margin-left:auto}.row.expanded,.row:not(.expanded) .row{max-width:none}.row::after,.row::before{display:table;content:' '}.row::after{clear:both}.row.collapse>.column,.row.collapse>.columns{padding-right:0;padding-left:0}.row .row{margin-right:-.9375rem;margin-left:-.9375rem}@media print,screen and (min-width:40em){.row .row{margin-right:-.9375rem;margin-left:-.9375rem}}@media print,screen and (min-width:64em){.row .row{margin-right:-.9375rem;margin-left:-.9375rem}}.row .row.collapse{margin-right:0;margin-left:0}.row.expanded .row{margin-right:auto;margin-left:auto}.column,.columns{width:100%;float:left;padding-right:.9375rem;padding-left:.9375rem}.column:last-child:not(:first-child),.columns:last-child:not(:first-child){float:right}.column.end:last-child:last-child,.end.columns:last-child:last-child{float:left}.column.row.row,.row.row.columns{float:none}.row .column.row.row,.row .row.row.columns{margin-right:0;margin-left:0;padding-right:0;padding-left:0}.small-1{width:8.33333%}.small-push-1{left:8.33333%}.small-pull-1{left:-8.33333%}.small-offset-0{margin-left:0}.small-2{width:16.66667%}.small-push-2{left:16.66667%}.small-pull-2{left:-16.66667%}.small-offset-1{margin-left:8.33333%}.small-3{width:25%}.small-push-3{left:25%}.small-pull-3{left:-25%}.small-offset-2{margin-left:16.66667%}.small-4{width:33.33333%}.small-push-4{left:33.33333%}.small-pull-4{left:-33.33333%}.small-offset-3{margin-left:25%}.small-5{width:41.66667%}.small-push-5{left:41.66667%}.small-pull-5{left:-41.66667%}.small-offset-4{margin-left:33.33333%}.small-6{width:50%}.small-push-6{position:relative;left:50%}.small-pull-6{left:-50%}.small-offset-5{margin-left:41.66667%}.small-7{width:58.33333%}.small-push-7{left:58.33333%}.small-pull-7{left:-58.33333%}.small-offset-6{margin-left:50%}.small-8{width:66.66667%}.small-push-8{left:66.66667%}.small-pull-8{left:-66.66667%}.small-offset-7{margin-left:58.33333%}.small-9{width:75%}.small-push-9{left:75%}.small-pull-9{left:-75%}.small-offset-8{margin-left:66.66667%}.small-10{width:83.33333%}.small-push-10{left:83.33333%}.small-pull-10{left:-83.33333%}.small-offset-9{margin-left:75%}.small-11{width:91.66667%}.small-push-11{left:91.66667%}.small-pull-11{left:-91.66667%}.small-offset-10{margin-left:83.33333%}.small-12{width:100%}.small-offset-11{margin-left:91.66667%}.small-up-1>.column,.small-up-1>.columns{float:left;width:100%}.small-up-1>.column:nth-of-type(1n),.small-up-1>.columns:nth-of-type(1n){clear:none}.small-up-1>.column:nth-of-type(1n+1),.small-up-1>.columns:nth-of-type(1n+1){clear:both}.small-up-1>.column:last-child,.small-up-1>.columns:last-child{float:left}.small-up-2>.column,.small-up-2>.columns{float:left;width:50%}.small-up-2>.column:nth-of-type(1n),.small-up-2>.columns:nth-of-type(1n){clear:none}.small-up-2>.column:nth-of-type(2n+1),.small-up-2>.columns:nth-of-type(2n+1){clear:both}.small-up-2>.column:last-child,.small-up-2>.columns:last-child{float:left}.small-up-3>.column,.small-up-3>.columns{float:left;width:33.33333%}.small-up-3>.column:nth-of-type(1n),.small-up-3>.columns:nth-of-type(1n){clear:none}.small-up-3>.column:nth-of-type(3n+1),.small-up-3>.columns:nth-of-type(3n+1){clear:both}.small-up-3>.column:last-child,.small-up-3>.columns:last-child{float:left}.small-up-4>.column,.small-up-4>.columns{float:left;width:25%}.small-up-4>.column:nth-of-type(1n),.small-up-4>.columns:nth-of-type(1n){clear:none}.small-up-4>.column:nth-of-type(4n+1),.small-up-4>.columns:nth-of-type(4n+1){clear:both}.small-up-4>.column:last-child,.small-up-4>.columns:last-child{float:left}.small-up-5>.column,.small-up-5>.columns{float:left;width:20%}.small-up-5>.column:nth-of-type(1n),.small-up-5>.columns:nth-of-type(1n){clear:none}.small-up-5>.column:nth-of-type(5n+1),.small-up-5>.columns:nth-of-type(5n+1){clear:both}.small-up-5>.column:last-child,.small-up-5>.columns:last-child{float:left}.small-up-6>.column,.small-up-6>.columns{float:left;width:16.66667%}.small-up-6>.column:nth-of-type(1n),.small-up-6>.columns:nth-of-type(1n){clear:none}.small-up-6>.column:nth-of-type(6n+1),.small-up-6>.columns:nth-of-type(6n+1){clear:both}.small-up-6>.column:last-child,.small-up-6>.columns:last-child{float:left}.small-up-7>.column,.small-up-7>.columns{float:left;width:14.28571%}.small-up-7>.column:nth-of-type(1n),.small-up-7>.columns:nth-of-type(1n){clear:none}.small-up-7>.column:nth-of-type(7n+1),.small-up-7>.columns:nth-of-type(7n+1){clear:both}.small-up-7>.column:last-child,.small-up-7>.columns:last-child{float:left}.small-up-8>.column,.small-up-8>.columns{float:left;width:12.5%}.small-up-8>.column:nth-of-type(1n),.small-up-8>.columns:nth-of-type(1n){clear:none}.small-up-8>.column:nth-of-type(8n+1),.small-up-8>.columns:nth-of-type(8n+1){clear:both}.small-up-8>.column:last-child,.small-up-8>.columns:last-child{float:left}.small-collapse>.column,.small-collapse>.columns{padding-right:0;padding-left:0}.expanded.row .small-collapse.row,.small-collapse .row{margin-right:0;margin-left:0}.small-uncollapse>.column,.small-uncollapse>.columns{padding-right:.9375rem;padding-left:.9375rem}.small-centered{margin-right:auto;margin-left:auto}.small-centered,.small-centered:last-child:not(:first-child){float:none;clear:both}.small-pull-0,.small-push-0,.small-uncentered{position:static;float:left;margin-right:0;margin-left:0}@media print,screen and (min-width:40em){.medium-pull-1,.medium-pull-10,.medium-pull-11,.medium-pull-2,.medium-pull-3,.medium-pull-4,.medium-pull-5,.medium-pull-6,.medium-pull-7,.medium-pull-8,.medium-pull-9,.medium-push-1,.medium-push-10,.medium-push-11,.medium-push-2,.medium-push-3,.medium-push-4,.medium-push-5,.medium-push-7,.medium-push-8,.medium-push-9{position:relative}.medium-1{width:8.33333%}.medium-push-1{left:8.33333%}.medium-pull-1{left:-8.33333%}.medium-offset-0{margin-left:0}.medium-2{width:16.66667%}.medium-push-2{left:16.66667%}.medium-pull-2{left:-16.66667%}.medium-offset-1{margin-left:8.33333%}.medium-3{width:25%}.medium-push-3{left:25%}.medium-pull-3{left:-25%}.medium-offset-2{margin-left:16.66667%}.medium-4{width:33.33333%}.medium-push-4{left:33.33333%}.medium-pull-4{left:-33.33333%}.medium-offset-3{margin-left:25%}.medium-5{width:41.66667%}.medium-push-5{left:41.66667%}.medium-pull-5{left:-41.66667%}.medium-offset-4{margin-left:33.33333%}.medium-6{width:50%}.medium-push-6{position:relative;left:50%}.medium-pull-6{left:-50%}.medium-offset-5{margin-left:41.66667%}.medium-7{width:58.33333%}.medium-push-7{left:58.33333%}.medium-pull-7{left:-58.33333%}.medium-offset-6{margin-left:50%}.medium-8{width:66.66667%}.medium-push-8{left:66.66667%}.medium-pull-8{left:-66.66667%}.medium-offset-7{margin-left:58.33333%}.medium-9{width:75%}.medium-push-9{left:75%}.medium-pull-9{left:-75%}.medium-offset-8{margin-left:66.66667%}.medium-10{width:83.33333%}.medium-push-10{left:83.33333%}.medium-pull-10{left:-83.33333%}.medium-offset-9{margin-left:75%}.medium-11{width:91.66667%}.medium-push-11{left:91.66667%}.medium-pull-11{left:-91.66667%}.medium-offset-10{margin-left:83.33333%}.medium-12{width:100%}.medium-offset-11{margin-left:91.66667%}.medium-up-1>.column,.medium-up-1>.columns{float:left;width:100%}.medium-up-1>.column:nth-of-type(1n),.medium-up-1>.columns:nth-of-type(1n){clear:none}.medium-up-1>.column:nth-of-type(1n+1),.medium-up-1>.columns:nth-of-type(1n+1){clear:both}.medium-up-1>.column:last-child,.medium-up-1>.columns:last-child{float:left}.medium-up-2>.column,.medium-up-2>.columns{float:left;width:50%}.medium-up-2>.column:nth-of-type(1n),.medium-up-2>.columns:nth-of-type(1n){clear:none}.medium-up-2>.column:nth-of-type(2n+1),.medium-up-2>.columns:nth-of-type(2n+1){clear:both}.medium-up-2>.column:last-child,.medium-up-2>.columns:last-child{float:left}.medium-up-3>.column,.medium-up-3>.columns{float:left;width:33.33333%}.medium-up-3>.column:nth-of-type(1n),.medium-up-3>.columns:nth-of-type(1n){clear:none}.medium-up-3>.column:nth-of-type(3n+1),.medium-up-3>.columns:nth-of-type(3n+1){clear:both}.medium-up-3>.column:last-child,.medium-up-3>.columns:last-child{float:left}.medium-up-4>.column,.medium-up-4>.columns{float:left;width:25%}.medium-up-4>.column:nth-of-type(1n),.medium-up-4>.columns:nth-of-type(1n){clear:none}.medium-up-4>.column:nth-of-type(4n+1),.medium-up-4>.columns:nth-of-type(4n+1){clear:both}.medium-up-4>.column:last-child,.medium-up-4>.columns:last-child{float:left}.medium-up-5>.column,.medium-up-5>.columns{float:left;width:20%}.medium-up-5>.column:nth-of-type(1n),.medium-up-5>.columns:nth-of-type(1n){clear:none}.medium-up-5>.column:nth-of-type(5n+1),.medium-up-5>.columns:nth-of-type(5n+1){clear:both}.medium-up-5>.column:last-child,.medium-up-5>.columns:last-child{float:left}.medium-up-6>.column,.medium-up-6>.columns{float:left;width:16.66667%}.medium-up-6>.column:nth-of-type(1n),.medium-up-6>.columns:nth-of-type(1n){clear:none}.medium-up-6>.column:nth-of-type(6n+1),.medium-up-6>.columns:nth-of-type(6n+1){clear:both}.medium-up-6>.column:last-child,.medium-up-6>.columns:last-child{float:left}.medium-up-7>.column,.medium-up-7>.columns{float:left;width:14.28571%}.medium-up-7>.column:nth-of-type(1n),.medium-up-7>.columns:nth-of-type(1n){clear:none}.medium-up-7>.column:nth-of-type(7n+1),.medium-up-7>.columns:nth-of-type(7n+1){clear:both}.medium-up-7>.column:last-child,.medium-up-7>.columns:last-child{float:left}.medium-up-8>.column,.medium-up-8>.columns{float:left;width:12.5%}.medium-up-8>.column:nth-of-type(1n),.medium-up-8>.columns:nth-of-type(1n){clear:none}.medium-up-8>.column:nth-of-type(8n+1),.medium-up-8>.columns:nth-of-type(8n+1){clear:both}.medium-up-8>.column:last-child,.medium-up-8>.columns:last-child{float:left}.medium-collapse>.column,.medium-collapse>.columns{padding-right:0;padding-left:0}.expanded.row .medium-collapse.row,.medium-collapse .row{margin-right:0;margin-left:0}.medium-uncollapse>.column,.medium-uncollapse>.columns{padding-right:.9375rem;padding-left:.9375rem}.medium-centered{margin-right:auto;margin-left:auto}.medium-centered,.medium-centered:last-child:not(:first-child){float:none;clear:both}.medium-pull-0,.medium-push-0,.medium-uncentered{position:static;float:left;margin-right:0;margin-left:0}}@media print,screen and (min-width:64em){.large-pull-1,.large-pull-10,.large-pull-11,.large-pull-2,.large-pull-3,.large-pull-4,.large-pull-5,.large-pull-6,.large-pull-7,.large-pull-8,.large-pull-9,.large-push-1,.large-push-10,.large-push-11,.large-push-2,.large-push-3,.large-push-4,.large-push-5,.large-push-7,.large-push-8,.large-push-9{position:relative}.large-1{width:8.33333%}.large-push-1{left:8.33333%}.large-pull-1{left:-8.33333%}.large-offset-0{margin-left:0}.large-2{width:16.66667%}.large-push-2{left:16.66667%}.large-pull-2{left:-16.66667%}.large-offset-1{margin-left:8.33333%}.large-3{width:25%}.large-push-3{left:25%}.large-pull-3{left:-25%}.large-offset-2{margin-left:16.66667%}.large-4{width:33.33333%}.large-push-4{left:33.33333%}.large-pull-4{left:-33.33333%}.large-offset-3{margin-left:25%}.large-5{width:41.66667%}.large-push-5{left:41.66667%}.large-pull-5{left:-41.66667%}.large-offset-4{margin-left:33.33333%}.large-6{width:50%}.large-push-6{position:relative;left:50%}.large-pull-6{left:-50%}.large-offset-5{margin-left:41.66667%}.large-7{width:58.33333%}.large-push-7{left:58.33333%}.large-pull-7{left:-58.33333%}.large-offset-6{margin-left:50%}.large-8{width:66.66667%}.large-push-8{left:66.66667%}.large-pull-8{left:-66.66667%}.large-offset-7{margin-left:58.33333%}.large-9{width:75%}.large-push-9{left:75%}.large-pull-9{left:-75%}.large-offset-8{margin-left:66.66667%}.large-10{width:83.33333%}.large-push-10{left:83.33333%}.large-pull-10{left:-83.33333%}.large-offset-9{margin-left:75%}.large-11{width:91.66667%}.large-push-11{left:91.66667%}.large-pull-11{left:-91.66667%}.large-offset-10{margin-left:83.33333%}.large-12{width:100%}.large-offset-11{margin-left:91.66667%}.large-up-1>.column,.large-up-1>.columns{float:left;width:100%}.large-up-1>.column:nth-of-type(1n),.large-up-1>.columns:nth-of-type(1n){clear:none}.large-up-1>.column:nth-of-type(1n+1),.large-up-1>.columns:nth-of-type(1n+1){clear:both}.large-up-1>.column:last-child,.large-up-1>.columns:last-child{float:left}.large-up-2>.column,.large-up-2>.columns{float:left;width:50%}.large-up-2>.column:nth-of-type(1n),.large-up-2>.columns:nth-of-type(1n){clear:none}.large-up-2>.column:nth-of-type(2n+1),.large-up-2>.columns:nth-of-type(2n+1){clear:both}.large-up-2>.column:last-child,.large-up-2>.columns:last-child{float:left}.large-up-3>.column,.large-up-3>.columns{float:left;width:33.33333%}.large-up-3>.column:nth-of-type(1n),.large-up-3>.columns:nth-of-type(1n){clear:none}.large-up-3>.column:nth-of-type(3n+1),.large-up-3>.columns:nth-of-type(3n+1){clear:both}.large-up-3>.column:last-child,.large-up-3>.columns:last-child{float:left}.large-up-4>.column,.large-up-4>.columns{float:left;width:25%}.large-up-4>.column:nth-of-type(1n),.large-up-4>.columns:nth-of-type(1n){clear:none}.large-up-4>.column:nth-of-type(4n+1),.large-up-4>.columns:nth-of-type(4n+1){clear:both}.large-up-4>.column:last-child,.large-up-4>.columns:last-child{float:left}.large-up-5>.column,.large-up-5>.columns{float:left;width:20%}.large-up-5>.column:nth-of-type(1n),.large-up-5>.columns:nth-of-type(1n){clear:none}.large-up-5>.column:nth-of-type(5n+1),.large-up-5>.columns:nth-of-type(5n+1){clear:both}.large-up-5>.column:last-child,.large-up-5>.columns:last-child{float:left}.large-up-6>.column,.large-up-6>.columns{float:left;width:16.66667%}.large-up-6>.column:nth-of-type(1n),.large-up-6>.columns:nth-of-type(1n){clear:none}.large-up-6>.column:nth-of-type(6n+1),.large-up-6>.columns:nth-of-type(6n+1){clear:both}.large-up-6>.column:last-child,.large-up-6>.columns:last-child{float:left}.large-up-7>.column,.large-up-7>.columns{float:left;width:14.28571%}.large-up-7>.column:nth-of-type(1n),.large-up-7>.columns:nth-of-type(1n){clear:none}.large-up-7>.column:nth-of-type(7n+1),.large-up-7>.columns:nth-of-type(7n+1){clear:both}.large-up-7>.column:last-child,.large-up-7>.columns:last-child{float:left}.large-up-8>.column,.large-up-8>.columns{float:left;width:12.5%}.large-up-8>.column:nth-of-type(1n),.large-up-8>.columns:nth-of-type(1n){clear:none}.large-up-8>.column:nth-of-type(8n+1),.large-up-8>.columns:nth-of-type(8n+1){clear:both}.large-up-8>.column:last-child,.large-up-8>.columns:last-child{float:left}.large-collapse>.column,.large-collapse>.columns{padding-right:0;padding-left:0}.expanded.row .large-collapse.row,.large-collapse .row{margin-right:0;margin-left:0}.large-uncollapse>.column,.large-uncollapse>.columns{padding-right:.9375rem;padding-left:.9375rem}.large-centered{margin-right:auto;margin-left:auto}.large-centered,.large-centered:last-child:not(:first-child){float:none;clear:both}.large-pull-0,.large-push-0,.large-uncentered{position:static;float:left;margin-right:0;margin-left:0}}.column-block{margin-bottom:1.875rem}.column-block>:last-child{margin-bottom:0}

/* -----------------------------------------------------------------------------*/
/* /// TYPOGRAPHY                                                               */
/* -----------------------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #505e69;
  font-weight: 400;
  line-height: 1.4;
  text-rendering: optimizeLegibility; }

h1 { 
  font-size: 1.75rem;
  font-weight: 800;
  margin-bottom: .5rem; }

h2 { font-size: 1.3rem; margin-bottom: .5rem; }

h3 { font-size: 1.2rem; margin-bottom: .5rem; }

h4 { font-size: 1.1rem; margin-bottom: .5rem; }

h5 { font-size: 1rem; margin-bottom: .5rem; }

h6 { font-size: 1rem; margin-bottom: .5rem; }

p { 
  line-height: 1.7;
  margin: 0 0 1rem 0; }

p:last-of-type { margin: 0 }

a { 
  color: #217ab7;
  cursor: pointer;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  color: #3093d8;
  outline-width: 0; }

img { 
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none; }

ul,
ol {
  margin-bottom: 1rem;
  list-style-position: outside;
  line-height: 1.7; }

ul {
  margin-left: 1.25rem;
  list-style-type: disc; }

ol {
  margin-left: 1.25rem; }

ul ul, ol ul, ul ol, ol ol {
  margin-left: 1.25rem;
  margin-bottom: 0; }

li {
  list-style-type: inherit; }

em,
i {
  font-style: italic; }

strong,
b {
  font-weight: bold; }

small {
  font-size: 80%; }

pre,
code {
  font-family: monospace, monospace; }

code {
  background-color: #e5e5e5;
  padding: .1rem .3rem;
  border: 1px solid #c5c5c5; }

hr {
  max-width: 62.5rem;
  height: 0;
  background-color: #ccc;
  border: 0;
  height: 5px;
  margin: 1.2rem auto;
  border: 0;
  border-bottom: 1px solid #c5c5c5;
  box-sizing: content-box; }

@media only screen and (min-width: 40em ) {
  h1 { 
  font-size: 2.25rem;
  font-weight: 800;
  margin-bottom: .5rem; }
}

/* -----------------------------------------------------------------------------*/
/* /// MISC                                                                     */
/* -----------------------------------------------------------------------------*/

.table {
  width: 100%;
  display: table;
  border-collapse: collapse; }

.table .table { 
  width: auto; }

.table__row { 
  display: table-row; }

.table__cell { 
  display: table-cell;
  vertical-align: middle; }

/* -----------------------------------------------------------------------------*/
/* /// FORMS                                                                    */
/* -----------------------------------------------------------------------------*/

input,
select,
textarea {
  color: #000;
  font-size: 100%;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.15; }

::-webkit-input-placeholder { color: #a1a1a1; font: 400 15px/1.5 'Lato', sans-serif; }
::-moz-placeholder { color: #a1a1a1; font: 400 15px/1.5 'Lato', sans-serif; }
:-ms-input-placeholder { color: #a1a1a1; font: 400 15px/1.5 'Lato', sans-serif; }
textarea::-webkit-input-placeholder { color: #a1a1a1; font: 400 15px/1.5 'Lato', sans-serif; }

label {
  color: #505e69;
  font-weight: 600;
	display: block;
	margin-bottom: 10px; }

label i {
  color: #888;
  font-size: 10px;
  font-weight: 400; }

input {
	width: 100%;
	font-size: 15px;
	background: #fff;
	padding: 10px;
	border: 1px solid rgba(0,0,0,0.20);
	border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none; }

input:focus {
  background-color: #fff;
  border: 1px solid rgb(0, 173, 255); }

select {
  width: 100%;
  background: #fff;
  padding: 10px 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box; }

textarea {
  width: 100%;
  height: auto;
  min-height: 100px;
  line-height: 1.5;
  font-family: inherit;
  background: #FFFFFF;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: background 250ms ease;
  resize: vertical; }

textarea:focus {
  background-color: #fff;
  border-color: #ccc; }

.checkbox,
.radio {
  font-weight: 600;
  line-height: 1.5;
  position: relative;
  margin: 0 0 14px 0;
  padding: 0 0 0 38px;
  cursor: pointer; }

.checkbox:before,
.radio:before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 2px;
  left: 10px;
  border-radius: 2px;
  box-shadow: inset 0 0 0 2px #2196f3; }

.radio:before {
  border-radius: 50%; }

.checkbox:after,
.radio:after {
  content: "✓";
  color: #2196f3;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  left: 14px;
  top: -3px;
  opacity: 0; }

.radio:after {
  content: "•"; }

.checkbox[data-active="1"]:after,
.radio[data-active="1"]:after { 
  opacity: 1; }

.checkbox[data-active="1"],
.radio[data-active="1"] { 
  color: #2196f3; }

.form {
  background: #fff;
  padding: 2rem 2rem .5rem;
  border: 1px solid #d5d5d5;
  border-radius: 2px; }

.form > div {
  margin: 0 0 2rem 0; }

div.form__alert { 
  color: #ff0000;
  font-size: 90%;
  display: none;
  margin: 1.5rem 0 .75rem; }

.form__alert::first-letter { 
  text-transform: uppercase; }

.submit { 
  text-align: center;
  margin: 0;
  padding-top: .5rem; }

.btn { 
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: .15rem;
  background: #7fb438;
  display: inline-block;
  padding: .75rem 3rem;
  border-radius: 5px;
  cursor: pointer; }

.btn:hover {
  color: #fff;
  background: #96ce4b; }


/* -----------------------------------------------------------------------------*/
/* /// NAV                                                                      */
/* -----------------------------------------------------------------------------*/

.header { 
  width: 100%;
  text-align: center;
  background-color: #111;
  overflow: hidden; }

.header__logo a {
  display: inline-block;
  padding: 1rem; }

.logo--massSave img { 
  max-width: 150px; }

.header__details__text {
  color: #fff;
  padding: 2rem; }

.header__details__text div { 
  text-transform: uppercase;
  line-height: 1; }

.header__details__text div:nth-of-type(1) {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1rem; }

.header__details__text div:nth-of-type(2) {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 1rem; }

.header__details__text div:nth-of-type(3) {
  font-size: 2rem; }

.header__details__background { 
  width: 100%;
  height: 100%;
  background-color: #7fb441;
  position: absolute;
  top: 0;
  left: 0; } 

.header__details__background__gradient {
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,1,17,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,1,17,1) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,1,17,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000111',GradientType=0 );
  position: absolute;
  top: 0;
  left: 0; } 

@media only screen and (min-width: 37.5em ) {

  .header__logo a { 
    padding: 2rem; }

}

@media only screen and (min-width: 62.5em ) {

  .header,
  .header__logo { 
    display: table; }

  .header > div,
  .header__logo > a { 
    display: table-cell;
    vertical-align: middle; }

  .header__details__background { 
    transform: skew(-10deg, 0); }

}

/* -----------------------------------------------------------------------------*/
/* /// LEAD                                                                     */
/* -----------------------------------------------------------------------------*/

.lead { 
  background-image: url(img/valley.jpg);
  background-position: 50%;
  background-size: cover;
  padding: 4rem 1rem; }

.lead__content { 
  max-width: 650px;
  text-align: center;
  background-color: #fff;
  padding: 2rem 1rem;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5); }

.lead__content__text div:nth-of-type(1) {
  font-size: 1.25rem;
  font-weight: 800; }

.lead__content__text div:nth-of-type(2) {
  color: #7fb438;
  font-size: 1.5rem;
  font-weight: 800; }

.lead__content__text div:nth-of-type(3) {
  font-size: 1rem;
  font-weight: 600;
  margin: .5rem 0 1rem; }

.lead__content__text div:nth-of-type(4) { 
  font-weight: 800; }

.lead__content__text div:nth-of-type(4) span {
  color: #7fb438;
  display: block; }

@media only screen and (min-width: 40em ) {

  .lead__content { 
    padding: 2rem; }

  .lead__content__text div:nth-of-type(4) { 
    font-size: 1.25rem; }

  .lead__content__text div:nth-of-type(4) span {
    display: inherit; }

}

/* -----------------------------------------------------------------------------*/
/* /// SERVICES                                                                 */
/* -----------------------------------------------------------------------------*/

.services { 
  padding: 0 0 1.5rem; }

.services h1 { 
  text-align: center;
  margin: 0 0 3rem;
  padding: 2rem 0;
  border-bottom: 1px solid #ccc; }

.service {
  max-width: 650px; 
  margin: 0 auto 4rem; }

.service__title { 
  color: #7fb438;
  font-size: 1.5rem;
  font-weight: 800; }

.service__text { 
  font-size: 1.15rem; }

@media only screen and (min-width: 40em ) {

  .service__title { 
    font-size: 1.75rem;
  }

}
/* -----------------------------------------------------------------------------*/
/* /// ACCOLADES                                                                */
/* -----------------------------------------------------------------------------*/

.accolades { 
  text-align: center;
  background-color: #e5e5e5;
  padding: 3.5rem 1rem; }

.accolades h1 { 
  max-width: 600px;
  margin: 0 auto 3rem; }

.accolade img {
  max-width: 150px;
  vertical-align: middle; } 


/* -----------------------------------------------------------------------------*/
/* /// LOCATIONS                                                                */
/* -----------------------------------------------------------------------------*/

.locations { 
  padding: 3.5rem 1rem; }

.locations img { 
  margin: 1.5rem 0 2rem; }

.locations h1,
.locations .description { 
  text-align: center; }

.locations .description { 
  max-width: 500px;
  margin: 0 auto 2.5rem; }

.location li {
  list-style: none;
  margin: 0 0 1rem; }

.location li:after { 
  content: "";
  width: 5px;
  height: 5px;
  background-color: #7fb438;
  display: inline-block;
  position: absolute;
  left: -15px;
  top: 12px;
  border-radius: 2.5px; }

.locations br { 
  display: none; }

@media only screen and (min-width: 40em ) {
  .location li {
    font-size: 1.25rem; }

  .locations .description { 
    font-size: 1.25rem; }

  .locations br { 
    display: inherit; }
}

/* -----------------------------------------------------------------------------*/
/* /// SLIDER                                                                   */
/* -----------------------------------------------------------------------------*/

.royalSlider {
  width: 100%;
  max-width: 800px;
  height: 100px;
  position: relative;
  margin: 0 auto;
  direction: ltr; } 

.royalSlider > * { float: left; }

.rsOverflow {
  width: 100%;
  height: 100%;
  float: left;
  -webkit-tap-highlight-color:rgba(0,0,0,0); }

.rsContainer {
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color:rgba(0,0,0,0); }

.rsSlide {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  transform: scale(0.8);
  transition: transform 500ms ease, opacity 500ms ease; }

.rsSlide.rsActiveSlide {
  opacity: 1;
  transform: scale(1); }

.royalSlider.rsAutoHeight, .rsAutoHeight .rsSlide { 
  height: auto; }

.rsContent {
  width: 100%;
  height: 100%;
  position: relative; }

img.rsImg { 
  max-width: none; }

/* -----------------------------------------------------------------------------*/
/* /// TESTIMOIALS                                                              */
/* -----------------------------------------------------------------------------*/

.icon--quote { 
  width: 45px;
  height: 38px;
  background-image: url(img/icon--quote.png);
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin: 0 0 0 -22px;
  z-index: 5; }

.testimonials { 
  background-color: #fff;
  padding: 3rem 1rem 5rem;
  overflow: hidden; }

.testimonials h1 {
  text-align: center;
  margin: 0 0 2.5rem; }

.testimonial { 
  max-width: 700px;
  text-align: center;
  margin: 0 auto; }

.testimonial q {
  font-size: 1.15rem; }

.testimonial cite {
  color: #7fb438;
  font-weight: 700;
  text-align: center;
  display: block;
  margin: 1.5rem 0 0 0; }


/* -----------------------------------------------------------------------------*/
/* /// SCHEDULE                                                                 */
/* -----------------------------------------------------------------------------*/

.schedule { 
  padding: 3.5rem 1rem 4rem; }

.schedule h1 {
  text-align: center;
  margin: 0 0 2.5rem; } 

.form { 
  max-width: 600px;
  margin: 0 auto;
  border-radius: 5px; }

.form__title { 
  color: #7fb438;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center; }

.form__success { 
  text-align: center;
  display: none; }

.output__newsletter__img { 
  width: 156px;
  height: 85px;
  background-image: url(img/stamp.png);
  margin: 0 auto 1rem; }

/* -----------------------------------------------------------------------------*/
/* /// FOOTER                                                                   */
/* -----------------------------------------------------------------------------*/

.footer { 
  color: #fff;
  text-align: center;
  background-color: #7fb438;
  padding: 2rem .5rem; }

.footer__gradient {
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,1,17,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,1,17,1) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,1,17,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000111',GradientType=0 );
  position: absolute;
  top: 0;
  left: 0; } 

.footer img { 
  width: 100%;
  max-width: 250px;
  margin: 0 0 1rem; }

.footer ul { 
  margin: 0; }

.footer li { 
  list-style: none; }

.footer h6 { 
  color: #fff; 
  font-weight: 700;
  margin: 1.5rem 0 .15rem; }

.footer__meta {
  max-width: 600px;
  margin: 0 auto; }

@media only screen and (min-width: 40em ) {

  .footer li:nth-of-type(1) { 
  font-size: 1.15rem;
  margin-bottom: .25rem; }

  .footer li:nth-of-type(2) { 
    font-size: 1.15rem;
    margin-bottom: .5rem; }

}

@media only screen and (min-width: 62.5em ) {

  .footer {
    text-align: left;
    padding: 2rem;  }

  .footer img {
    max-width: 160px; }

  .footer h6 { 
    margin: 0 0 .75rem; }

}